<div class="todo-container">
  <span class="todo-input">
    <label for="todo">Add new todo item</label>

    <input
      type="text"
      name="todo"
      [value]="newTodoName"
      (change)="onValueChange($event)"
    />

    <button (click)="addNewTodo()">Add new todo</button>
  </span>

  <main class="todo-content">
    <span *ngFor="let todo of todoList; let i = index" class="todo-item">
      <app-item [item]="todo" (todoChanged)="onTodoChanged(i)"></app-item>

      <button (click)="onRemoveTodo(i)" class="todo-remove">Remove</button>

      <button [routerLink]="['/todo/details', i]" class="todo-remove">Details</button>
    </span>
  </main>
</div>
